/**
* @Author: deepak
* @Date:   2017-01-06T22:56:31+11:00
* @Last modified by:   deepak
* @Last modified time: 2017-01-06T23:00:22+11:00
*/
body {
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

div {
  width: var(--width);
  margin: 5em auto;
  padding: 50px;
  background-color: var(--bgColor);
  border-radius: 1em; }

#main {
  font-size: var(--fontSize); }
